<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Hello, ' + ${msg} + '!'" />
    <form id="form" th:method="post" action="#" th:action="@{/api/doSubmit}" th:object="${myMap}">
        <div class="my-replace-class" th:replace="testfragment :: my-fragment(${myMap})"></div>
        <!-- <div>
            <input class="form-control" type="text" th:field="*{name}" th:value="*{name}"/>
            <input class="form-control" type="text" th:field="*{message}" th:value="*{message}"/>
        </div> -->
        <button type="submit">OK</button>
    </form>

</body>
</html>
